# Copyright (c) 2021 Nick Winans
# SPDX-License-Identifier: MIT

if BOARD_NICE60CLIENT

config BOARD_NICE60SERVER
    bool "central mode"
    default y

if BOARD_NICE60SERVER

config ZMK_KEYBOARD_NAME
    default "nice-60-server"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT

config ZMK_SPLIT
    default y

endif # BOARD_NICE60CLIENT
